*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: blue;
}

.main_container{
    margin-top: 20px;
    width: 50%;
    position: relative;
    left: 25%;
}

.slider-display{
    margin-left: 4px;
}