*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../images/Matrix.jpg);
}

.main_container{
    margin-top: 20px;
    width: 50%;
    position: relative;
    left: 25%;
    background-color: black;
}

.slider-display{
    margin-left: 4px;
}

.text-green{
    color: rgb(183, 273, 184);
}

.my-btn{
    background-color: rgb(183, 273, 184);
}

.my-btn:hover, .my-btn:active, .my-btn:focus, .my-btn:visited{
    background-color: rgb(93, 255, 99);
}